*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,Helvetica,sans-serif;
    background:linear-gradient(#87CEEB,#EAF8FF);
    color:#222;
}

.container{
    width:95%;
    max-width:950px;
    margin:30px auto;
    background:#fff;
    border-radius:20px;
    padding:30px;
    box-shadow:0 10px 25px rgba(0,0,0,.2);
}

/* HEADER */

header{
    text-align:center;
    margin-bottom:30px;
}

header h1{
    font-size:42px;
    color:#0B4F8A;
}

header h2{
    margin:10px 0;
}

header p{
    color:#666;
}

/* COMPTE A REBOURS */

#countdown{
    display:flex;
    justify-content:center;
    gap:15px;
    flex-wrap:wrap;
    margin:30px 0;
}

.count-box{
    background:#fff;
    padding:15px;
    min-width:85px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,.15);
    text-align:center;
}

.count-box span{
    display:block;
    font-size:30px;
    font-weight:bold;
    color:#D81B60;
}

.count-box small{
    color:#666;
}

/* VOYAGE */

.voyage{
    margin:50px 0;
}

.gare{
    text-align:left;
    margin-bottom:15px;
}

.gare img{
    width:180px;
}

.gare p{
    margin-top:5px;
    font-weight:bold;
}

.rails{
    position:relative;
    height:180px;
}

.rails::before{
    content:"";
    position:absolute;
    left:0;
    right:0;
    top:85px;
    height:20px;
    background:url("images/rails.jpg") repeat-x center;
    background-size:contain;
}

#train{
    position:absolute;
    top:20px;
    left:5%;
    z-index:10;
    transition:left .8s ease;
}

#train img{
    width:170px;
    transform:scaleX(-1);
}

.destination{
    position:absolute;
    right:0;
    top:0;
    text-align:center;
}

.destination img{
    width:170px;
}

.destination p{
    margin-top:8px;
    font-weight:bold;
}

/* CADEAU */

.cadeau{
    text-align
